Django==5.2.12
django-mathfilters==1.0.0
Pillow==12.1.1
psycopg2==2.9.11
python-decouple==3.8
razorpay==2.0.1
requests==2.32.5
twilio==9.10.4
gunicorn==25.1.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
