{% extends 'admin_home/base.html' %}
{% load mathfilters %}
{% block title %}
Orders
{% endblock title %}




{% block body %}

<div class="pagetitle">
  <h1>Orders</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">

        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              {% comment %} <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul> {% endcomment %}
            </div>

            <div class="card-body">
              <h5 class="card-title">Recent Sales <span></span></h5>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Address</th>
                    <th scope="col">Total</th>
                    <th scope="col">Method</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders  %}
                  <tr>
                    <th scope="row">{{order.order_id}}</th>
                    <th scope="row">{{order.placed_at.date}}</th>
                    <td>{{order.customer}}</td>
                    <td>{{order.customer.username}}
                      <br>{{order.address}}
                    </td>
                    <td>{{order.total}}</td>
                    <td>{{order.payment_method}}</td>
                    <td>
                      <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#vieworder{{forloop.counter}}">
                       view order
                    </a>
                    </td>
                  </tr>

                      <!-- Modal -->
                      <div class="modal fade" id="vieworder{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                          {% for item in items  %}
                          {% if item.order.id == order.id %}

                          <div class="card-body">
                            <div class="row">

                              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface w-50">
                                  <img src="{{item.variant.thumbnail.url}}" class="w-100" />
                                  <a href="#!">
                                    <div class="hover-overlay">
                                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                    </div>
                                  </a>
                                </div>
                              </div>

                              <div class="col-md-3 col-lg-3 col-xl-3">
                                <h5>{{item.variant.product.product_name}} <span style="font-weight: 900;" class="text-danger">x {{item.quantity}}</span></h5>
                                
                              {% if item.status == 'pending' %}
                                <span style="background-color: #fff2e1 !important; color: #fdac41 !important; border-radius: 0; font-weight: 500;" class="badge p-2 my-2 fs-6">{{item.status}}</span>
                              {% elif item.status == 'processing' %}
                                <span style="background-color: #fff2e1 !important; color: #fdac41 !important; border-radius: 0; font-weight: 500;" class="badge p-2 my-2 fs-6">{{item.status}}</span>
                              {% elif item.status == 'shipped' %}
                                <span style="background-color: #e5edfc !important; color: #6d99eb !important; border-radius: 0; font-weight: 500;" class="badge p-2 my-2 fs-6">{{item.status}}</span>
                              {% elif item.status == 'cancelled' %}
                                <span style="background-color: #ffe4e4 !important; color: #e85a5a !important; border-radius: 0; font-weight: 500;" class="badge p-2 my-2 fs-6">{{item.status}}</span>
                              {% elif item.status == 'delivered' %}
                                <span style="background-color: #dff9ec !important; color: #39da8a !important; border-radius: 0; font-weight: 500;" class="badge p-2 my-2 fs-6">{{item.status}}</span>
                              {% endif %}

                                <br>
                                <h6>Color : {{item.variant.color}}</h6>
                                <h6>Brand : {{item.variant.product.brand}}</h6>
                                <h6>Category : {{item.variant.product.category}}</h6>
                              </div>

                              
                              <div class="col-md-3 col-lg-3 col-xl-3">
 
                              </div>

                              

                              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                  <sub class="text-dark">Total &nbsp;</sub>
                                  {% with item_price=item.variant.price|mul:item.quantity  %}
                                    {% with gst=item_price|mul:0.05  %}
                                      <h4 class="mb-1 me-1">₹ {{item_price|add:gst|add:100|floatformat:2}}</h4>
                                    {% endwith %}
                                  {% endwith %}
                                </div>
                               
                                <select data-id="{{item.id}}" id="select-status" class="form-select" size="5" aria-label="size 3 select example">
                                  {% for key, value in status_choices.items %}
                                    <option
                                    {% if item.status == key %} selected {% endif %}
                                    value="{{ key }}">{{value}}</option>
                                  {% endfor %}
                                </select>
                              </div>

                            </div>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

                  {%  endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div><!-- End Recent Sales -->

        <div class="col-12 pb-1">
          <nav aria-label="Page navigation">
              {% if orders.has_other_pages %}
              <ul class="pagination justify-content-center mb-3">

                  {% if orders.has_previous %}
                  <li class="page-item "><a href="?page={{orders.previous_page_number}}"
                          class="page-link text-dark">Previous</a></li>
                  {% else %}
                  <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                  {% endif %}

                  {% for i in orders.paginator.page_range %}
                  {% if orders.number == i %}
                  <li class="page-item active"><a href="#" class="page-link">{{i}}</a></li>
                  {% else %}
                  <li class="page-item"><a href="?page={{i}}" class="page-link text-dark">{{i}}</a></li>
                  {% endif %}
                  {% endfor %}

                  {% if orders.has_next %}
                  <li class="page-item"><a href="?page={{orders.next_page_number}}"
                          class="page-link text-dark p-lr-25">Next</a></li>
                  {% else %}
                  <li class="page-item disabled"><a href="#" class="page-link p-lr-25">Next</a></li>
                  {% endif %}
              </ul>

              {% endif %}
          </nav>
      </div>

      </div>
    </div><!-- End Left side columns -->

<script>

  $(document).on('change', '#select-status', function(e){

    
    $.ajax({
      type:'POST',
      url:"{% url 'change-order-status' %}",
      data:{
        item_id:$(this).data('id'),
        status:$(this).val(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action:'post'
      },
      success: function(json){

      }
    })

  })

</script>



{% endblock body %}
