{% extends 'user_home/base.html' %} 
{% load static %} 
{% load mathfilters %}

{% block links %}
<link rel="stylesheet" href="{% static '/orders/css/invoice2.css' %}">{% endblock links %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% block title %}Ordered Successfully{% endblock %} 

{% block body %}

<div class="container">

   <div class="w-100 d-flex justify-content-center">

      <a href="{% url 'user_products' %}" >
      <button type="" class="btn btn-block btn-primary my-3 py-3">Continue Shopping</button>
    </a>

    <a class="px-2" href="{% url 'user_orders' %}" >
      <button type="" class="btn btn-block btn-primary my-3 py-3">Track Your order</button>
    </a>

  </div>

   <div class="col-md-12">
      <div class="invoice">
         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600">
            <span class="pull-right hidden-print">
            {% comment %} <a href="javascript:;" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a> {% endcomment %}
            <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
            </span>
            <div class="logo-img overflow-hidden">
                <img class="w-100" src="{% static 'user_home/images/icon.png' %}" alt="">
            </div>
         </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header">
            <div class="invoice-from">
               <small>Seller Address</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">beatandbase, Inc.</strong><br>
                  Akshya Nagar , Rammurthy nagar<br>
                  Bangalore-56001<br>
                  Phone: +91 345 67890<br>
                  beatandbase@gmail.com
               </address>
            </div>
            <div class="invoice-to">
               <small>Billing Address</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">{{shipping_address.fullname}}</strong><br>
                  {{shipping_address.house_name}}, near {{shipping_address.landmark}} <br>
                  {{shipping_address.city}}, {{shipping_address.pincode}} <br>
                  Phone:{{shipping_address.contact_number}}<br>
               </address>
            </div>
            <div class="invoice-date">
               <small>Invoice</small>
               <div class="date text-inverse m-t-5">{{order.placed_at.date}}</div>
               <div class="invoice-detail">
                {{order.order_id}}
               </div>
            </div>
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">
                  <thead>
                     <tr>
                        <th>DESCRIPTION</th>
                        <th class="text-center" width="10%">RATE</th>
                        <th class="text-right" width="20%">QTY </th>
                        <th class="text-right" width="20%">RATE</th>
                     </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                     <tr>
                        <td>
                           <span class="text-inverse">{{item.variant.product}}</span><br>
                           <small>color : {{item.variant.color}}</small>
                        </td>
                        <td class="text-center">₹  {{item.variant.price}}  </td>
                        <td class="text-right">{{item.quantity}}</td>
                        <td class="text-right">₹  {{item.variant.price|mul:item.quantity}}</td>
                     </tr>
                {% endfor %}
                  </tbody>
               </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price mb-2">
               <div class="invoice-price-left">

                  <div class="invoice-price-row">
                        <div class="sub-price">
                           <small>PAYMENT METHOD</small>
                           <span class="text-inverse">{{order.payment_method}}</span>
                        </div>
                     </div>
                 
               </div>
            </div>
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price">
                        <small>SUBTOTAL</small>
                        <span class="text-inverse">₹ {{sub_total}}</span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-plus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>GST (0.05%)</small>
                        <span class="text-inverse">₹ {{sub_total|mul:0.05|floatformat:2}}</span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-plus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>Shipping</small>
                        <span class="text-inverse">₹ 100</span>
                     </div>

                     {% if order.coupon %}
                     <div class="sub-price">
                        <i class="fa fa-minus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>Coupon ({{order.coupon}})</small>
                        <span class="text-inverse">₹ {{order.coupon_discount}}</span>
                     </div>
                     {% endif %}
                     
                  </div>
               </div>
               <div class="invoice-price-right">
                  <small>TOTAL</small> <span class="f-w-600">₹ {{order.total|floatformat:2}}</span>
               </div>
            </div>
            <!-- end invoice-price -->
         </div>
         <!-- end invoice-content -->
         <!-- begin invoice-note -->
         <div class="invoice-note">
            * Make all cheques payable to [beatandbase]<br>
            * Payment is due within 30 days<br>
            * If you have any questions concerning this invoice, contact  [beatandbase@gmail.com]
         </div>
         <!-- end invoice-note -->
         <!-- begin invoice-footer -->
         <div class="invoice-footer">
            <p class="text-center m-b-5 f-w-600">
               THANK YOU FOR YOUR BUSINESS
            </p>
            <p class="text-center">
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> beatandbase.store</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> +91 345 67890</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> beatandbase@gmai.com</span>
            </p>
         </div>
         <!-- end invoice-footer -->
      </div>
   </div>
</div>

{% endblock body %}